* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url("../assets/imagenes/arco.png");
  background-repeat: no-repeat;
  background-size: cover;
  /*Menu*/
}
header .grid-nosotros {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  justify-items: center;
  place-items: center;
  align-items: center;
}
header .logo {
  align-items: center;
  width: 100px;
  transition: transform 0.4s;
}
header .logo :hover {
  transform: rotate(360deg);
}
header nav li {
  float: left;
  background-color: black;
  justify-content: center;
  margin: auto;
  list-style-type: none;
}
header nav li a {
  display: block;
  color: rgb(249, 249, 249);
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  justify-content: center;
}
header nav li :hover {
  background-color: rgb(137, 172, 232);
}

main {
  background-image: url(../assets/imagenes/fondo_cancha.png);
  /*Actividades*/
}
main .titulo {
  display: grid;
  text-align: center;
  width: 100%;
  height: auto;
  background-color: #ff3ce1;
  background-image: linear-gradient(36deg, #ff3ce1 0%, #7b3dae 50%, #3b607b 100%);
  font-family: Arial, Helvetica, sans-serif;
  justify-items: center;
  align-items: center;
}
main .cards-flexmain {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding: 78px;
}
main .section-cards {
  display: flex;
  padding: 28px;
  height: auto;
  width: 100vw;
  justify-content: space-evenly;
  text-align: center;
}
main .cardsfutbol5, main .cardseventosdos, main .cardsactividades {
  color: white;
  background-color: rgb(21, 21, 21);
  border-radius: 15%;
  transition: transform 0.4s;
  padding: 20px;
}
main .cardsfutbol5:hover, main .cardseventosdos:hover, main .cardsactividades:hover {
  transform: scale(1.1);
  background-color: rgb(153, 154, 154);
  color: black;
}
main li {
  margin-bottom: 40px;
  list-style-type: none;
}
main .cardsactividades:hover {
  transform: scale(1.1);
  background-color: rgb(153, 154, 154);
  color: black;
}
main .cardseventosdos:hover {
  transform: scale(1.1);
  background-color: rgb(153, 154, 154);
  color: black;
}

.cards-grid {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding: 78px;
}
.cards-grid .cardsbalon, .cards-grid .cardseventos, .cards-grid .cardsdanzayyoga {
  align-self: center;
  text-align: center;
  color: white;
  background-color: rgb(147, 156, 98);
  border-radius: 10%;
  font-family: sans-serif;
  width: 200px;
  height: auto;
  padding-top: 62px;
  transition: transform 0.4s;
}
.cards-grid .cardsbalon:hover, .cards-grid .cardseventos:hover, .cards-grid .cardsdanzayyoga:hover {
  transform: scale(1.1);
  background-color: rgb(153, 154, 154);
  color: black;
}
.cards-grid h2 {
  font-size: 30px;
  color: rgb(30, 31, 33);
}
.cards-flexmainnovedades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  padding: 30px;
  justify-items: center;
}
.cards-flexmainnovedades .cardscontenedoruno {
  display: inline-block;
  width: 300px;
  height: auto;
  top: 35%;
  left: 55%;
}
.cards-flexmainnovedades .cardstexto, .cards-flexmainnovedades .cardstextodos {
  align-self: center;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgb(147, 155, 155);
  border-radius: 10%;
  font-family: sans-serif;
  width: 200px;
  height: auto;
  padding-top: 90px;
}
.cards-flexmainnovedades .cardscontenedordos {
  display: inline-block;
  width: 200px;
  height: auto;
  top: 115%;
  left: 70%;
}
.cards-grid {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding: 78px;
}
.cards-grid .cardsvision, .cards-grid .cardsvalores, .cards-grid .cardsmision {
  align-self: center;
  text-align: center;
  color: rgb(50, 5, 5);
  background-color: rgb(141, 238, 231);
  border-radius: 10%;
  font-family: sans-serif;
  width: 200px;
  height: auto;
  padding-top: 15px;
}
.cards-grid .cardsvision h2, .cards-grid .cardsvalores h2, .cards-grid .cardsmision h2 {
  font-size: 30px;
  color: rgb(8, 38, 93);
}
.cards-grid .mision h2 {
  font-size: 30px;
  color: rgb(8, 38, 93);
}
.cards-grid .valores h2 {
  font-size: 30px;
  color: rgb(8, 38, 93);
}

footer {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 1fr;
  background-color: #ff3ce1;
  background-image: linear-gradient(36deg, #ff3ce1 0%, #7b3dae 50%, #3b607b 100%);
  justify-items: center;
  place-items: center;
  align-self: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  gap: 20px;
}

.custom-bg {
  display: flex;
  color: white;
  background-color: rgb(21, 21, 21);
  border-radius: 10%;
  justify-items: center;
  place-items: center;
  align-items: center;
  width: 430px;
  height: auto;
  font-weight: bold;
  padding: 20px;
  margin: 5px 0;
}

.custom-bg h4 {
  color: cornflowerblue;
}

@media (max-width: 1024px) {
  .menu {
    font-size: 19px;
    display: flex;
    flex-direction: row;
    padding: 10px 3px;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .menu {
    font-size: 12px;
  }
  .grid-nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
  }
  .titulo {
    font-size: 19px;
  }
  .section-cards {
    display: grid;
    grid-template-columns: repeat 200px, 100px, 100px;
    grid-template-rows: 1fr;
    column-gap: 20px;
    width: 200vw;
    height: 100%;
    align-self: center;
  }
  .cardsactividades {
    align-self: center;
    text-align: center;
    color: white;
    background-color: rgb(21, 21, 21);
    border-radius: 10%;
    font-family: sans-serif;
    width: 200px;
    height: auto;
    padding-top: 82px;
  }
  .cards-grid {
    display: flex;
    justify-content: center;
    justify-content: center;
    padding: 78px;
    column-gap: 15px;
  }
  .cardsfutbol5, main .cardsactividades, main .cardseventosdos {
    align-self: center;
    text-align: center;
    color: white;
    background-color: rgb(21, 21, 21);
    border-radius: 10%;
    font-family: sans-serif;
    width: 200px;
    height: auto;
    padding-top: 82px;
  }
  .cards-flexmain {
    display: grid;
    grid-template-columns: repeat 2, 1fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
  }
  .cardseventosdos {
    align-self: center;
    text-align: center;
    color: white;
    background-color: rgb(21, 21, 21);
    border-radius: 10%;
    font-family: sans-serif;
    width: 200px;
    height: auto;
    padding-top: 75px;
    gap: 20px;
  }
  .custom-bg {
    display: flex;
    color: white;
    background-color: rgb(21, 21, 21);
    border-radius: 10%;
    justify-items: center;
    place-items: center;
    align-items: center;
    width: 650px;
    height: auto;
    font-weight: bold;
    padding: 20px;
    margin: 5px 0;
  }
}
@media (max-width: 580px) {
  .menu {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    padding: 10px 3px;
    justify-content: center;
    align-items: center;
  }
  .titulo {
    font-size: 12px;
  }
  .cards-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    padding: 58px;
    gap: 10px;
  }
  .section-cards {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding: 78px;
  }
  .cards-flexmainnovedades {
    flex-direction: column;
    font-size: 10px;
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
  }
  .cards-flexmain {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    align-items: center;
  }
  .custom-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: rgb(21, 21, 21);
    border-radius: 10%;
    justify-items: center;
    place-items: center;
    align-items: center;
    width: 80vw;
    height: 100%;
    font-weight: bold;
    padding: 20px;
    margin: 5px 0;
  }
}
@media (max-width: 425px) {
  .menu {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    padding: 10px 3px;
    justify-content: center;
    align-items: center;
  }
  .titulo {
    font-size: 16px;
  }
  .section-cards {
    flex-direction: column;
    font-size: 16px;
    display: flex;
    gap: 10px;
    padding: 10px;
  }
  .cards-grid {
    flex-direction: column;
    font-size: 16px;
    display: flex;
    gap: 10px;
  }
  .cards-flexmain {
    flex-direction: column;
    font-size: 16px;
    display: flex;
  }
  .cards-flexmainnovedades {
    flex-direction: column;
    font-size: 10px;
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
  }
  .custom-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: rgb(21, 21, 21);
    border-radius: 10%;
    justify-items: center;
    place-items: center;
    align-items: center;
    width: 280px;
    height: auto;
    font-weight: bold;
    padding: 20px;
    margin: 5px 0;
  }
}
@media (max-width: 320px) {
  .menu {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    padding: 10px 3px;
    justify-content: center;
    align-items: center;
  }
  .titulo {
    font-size: 12px;
  }
  .cards-grid {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding: 78px;
  }
  .section-cards {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding: 78px;
  }
  .cards-flexmainnovedades {
    flex-direction: column;
    font-size: 10px;
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
  }
  .cards-flexmain {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    align-items: center;
  }
  .custom-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: rgb(21, 21, 21);
    border-radius: 10%;
    justify-items: center;
    place-items: center;
    align-items: center;
    width: 80vw;
    height: 100%;
    font-weight: bold;
    padding: 20px;
    margin: 5px 0;
  }
  .cardsfutbol5, main .cardsactividades, main .cardseventosdos {
    align-self: center;
    text-align: center;
    color: white;
    background-color: rgb(21, 21, 21);
    border-radius: 10%;
    font-family: sans-serif;
    width: 200px;
    height: auto;
    padding-top: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
