
.grid-nosotros {
        @include grid (1fr 2fr 1fr ,1fr,center);
        justify-items: center;
        place-items: center;
        align-items: center;
        height: 180px;
        background-color: $backgroud-principal;

.logo {
    align-items: center;
    width: 180px;
    height:auto;
    transition: transform 0.4s;
    }

.logo :hover{
    transform: rotate(360deg);
}

/*Menu*/
nav {
    ul{
    display: flex;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    }

li {
    float: left;
    background-color: black;
    justify-content: center;
    margin: auto;
    list-style-type: none;
    }

li a {
    display: block;
    color: rgb(249, 249, 249);
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    justify-content: center;
    }

li :hover {
    background-color: #0ee696;
    color:black;
}
}
}