.cards-grid{
        display:flex;
        justify-content: center;
        justify-content: space-evenly;
        padding: 78px;


.cardsbalon {
    align-self: center;
    text-align: center;
    color: $color-text-principal;
    background-color:rgb(147, 156, 98);
    border-radius: 10%;
    font-family: sans-serif;
    width: 200px;
    height: auto;
    padding-top: 62px;
    transition: transform 0.4s;
}
.cardsbalon:hover{
    transform: scale(1.1); 
    background-color: rgb(153, 154, 154);   
    color: black;
    }

h2 {
    font-size: 30px;
    color: rgb(30, 31, 33);
}

.cardsdanzayyoga {
    @extend .cardsbalon;
    }

.cardseventos {
    @extend .cardsbalon;
}
}