    .fondo {
        background-color: $backgroud-principal;
        }
    .titulo {
        display: grid;
        width: 100%;
        height: auto;
        color: black;
        background-color: #0ee696;
        font-family:'Times New Roman', Times, serif;
        justify-items: center;
        align-items: center;
        }
    .textoinicio{
        background-color: rgb(6, 6, 88);
        color: white;
        font-size:25px;
        border-radius: 10%;
        text-align: center;
        padding: 20px;
        width: 500px;
        height: auto;
        padding-top: 15px;
        }

    .cards-flexmain {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 30px;
        padding-top: 65px;
        padding: 40px;
        }
    .complejo{
        width: 100%;
        height: 500px;
        border-radius: 10%;
        padding: 20px;
        }
    .cardseventosdos:hover {
        transform: scale(1.1);
        background-color: rgb(153, 154, 154);
        color: black;
        }
