.cards-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    

.cardsbalon {
    align-self: center;
    text-align: center;
    color: $color-text-principal;
    background-color: rgb(147, 156, 98);
    border-radius: 10%;
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    width: 200px;
    min-height: 70vh;
    padding-top: 20px;
    transition: transform 0.4s;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.cardsbalon:hover {
    transform: scale(1.1);
    background-color: rgb(153, 154, 154);
    color:$color-text-principal;
    }

.cardsdanzayyoga {
    @extend .cardsbalon;
    }

.cardseventos {
    @extend .cardsbalon;
    height: 250px;
    
    }
}

