.cards-rse{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    padding: 30px;
    padding-top: 20px;
    justify-items: center;
    gap: 25px;

.imgvision{
    width: 400px;
    height: 280px;
    border-radius: 10%;
    }
.visiontexto {
    align-self: center;
    text-align: center;
    color: rgb(50, 5, 5);
    background-color: rgb(141, 238, 231);
    border-radius: 10%;
    font-family:'Times New Roman', Times, serif;
    width: 400px;
    height: 280px;
    padding-top: 15px;
    font-size: 30px;
    color: rgb(8, 38, 93);
    
}
.cardsmision {
    @extend .imgvision;
}
.misiontexto {
    @extend .visiontexto;
}

.valorestexto {
    @extend .visiontexto;
}
}