@media (max-width: 768px) {
    .menu {
        font-size: 12px;
    }
    .grid-nosotros {
        @include grid (1fr 1fr 1fr, 1fr, center);
    }
    .titulo {
        display: flex;
        flex-direction: row;
        font-size: 18px;
        justify-content: center;
    }
    .section-cards {
        display: grid;
        grid-template-columns: repeat (200px, 100px, 100px);
        grid-template-rows: 1fr;
        column-gap: 20px;
        width: 100%;
        height: 100%;
        align-self: center;
    }
    .cards-actividades {
        display: flex;
        flex-direction: column;
        align-self: center;
        text-align: center;
        color: $color-text-principal;
        background-color: $backgroud-principal;
        border-radius: 10%;
        font-family:'Times New Roman', Times, serif;
        width: 90%px;
        height: auto;
        padding-top: 82px;
        gap: 25px;
        font-size: 16px;
    }
    .cards-grid {
        display: flex;
        justify-content: center;
        padding: 78px;
        column-gap: 15px;
    }
    .cardsfutbol5 {
        align-self: center;
        text-align: center;
        color: $color-text-principal;
        background-color: $backgroud-principal;
        border-radius: 10%;
        font-family:'Times New Roman', Times, serif;
        width: 200px;
        height: auto;
        padding-top: 82px;
    }
    .cards-flexmain {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        padding-bottom: 20px;
        padding-left: 50px;
        padding-right: 30px;
        column-gap: 20px;
    }
    .textoinicio {
        align-self: center;
        justify-content: center;
        padding-left: 60px;
        padding-right: 30px;
        width: 100%;
        height: auto;
        padding-bottom: 15px;
    }
    .complejo {
        width: 100%;
        height: auto;
    }
    .cardseventosdos {
        align-self: center;
        text-align: center;
        color: $color-text-principal;
        background-color: $backgroud-principal;
        border-radius: 10%;
        font-family:'Times New Roman', Times, serif;
        width: 200px;
        height: auto;
        padding-top: 75px;
        gap: 20px;
    }
    .cards-rse {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .custom-bg {
        display: flex;
        color: $color-text-principal;
        background-color: $backgroud-principal;
        border-radius: 10%;
        justify-items: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 20px;
        margin: 5px 0px;
    }
    .cards-rse {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
        padding-top: 20px;
        justify-items: center;
        gap: 25px;
    }
}