@media (max-width: 580px) {
    .menu {
        font-size: 12px;
        display: flex;
        flex-direction: column;
        padding: 10px 3px;
        justify-content: center;
        align-items: center;
    }
    .titulo {
        font-size: 12px;
    }

    .cards-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-evenly;
        padding: 58px;
        gap: 10px;
    }
    .cards-rse{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
        padding-top: 20px;
        justify-items: center;
        gap: 25px;
        width: 100%;
        height: auto;
    }    
    .imgvision{
        width: 75%;
        height: auto;
        border-radius: 10%;
        }
    .visiontexto {
        align-self: center;
        text-align: center;
        color: rgb(50, 5, 5);
        background-color: rgb(141, 238, 231);
        border-radius: 10%;
        font-family:'Times New Roman', Times, serif;
        width: 110%;
        height: 280px;
        padding-top: 15px;
        font-size: 30px;
        color: rgb(8, 38, 93);
    }
    .section-cards {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        padding: 78px;
    }

    .cards-flexmainnovedades {
        display: flex;
        flex-direction: column;
        font-size: 10px;
        gap: 10px;
        padding: 10px;
        align-items: center;
    }

    .cards-flexmain {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        align-items: center;
        width: 100%;
        height: auto;
    }
    .cardsvision{
        width: 100%;
        height: auto;
        padding-left: 20px;
    }
    .misiontexto{
        width: 100%;
        height: 100px;
        }
    .custom-bg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $color-text-principal;
        background-color: $backgroud-principal;
        border-radius: 10%;
        justify-items: center;
        place-items: center;
        align-items: center;
        width: 80vw;
        height: 100%;
        font-weight: bold;
        padding: 20px;
        margin: 5px 0;
    }
    footer{
        font-size: 12px;
        padding-bottom: 5px;
        justify-content: center;
    }
}