@media (max-width: 320px) {
    .menu {
        font-size: 12px;
        display: flex;
        flex-direction: column;
        padding: 10px 3px;
        justify-content: center;
        align-items: center;
    }

    .cards-grid {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        padding: 38px;
    }

    .section-cards {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        padding: 78px;
    }

    .cards-flexmainnovedades {
        flex-direction: column;
        font-size: 10px;
        display: flex;
        gap: 10px;
        padding: 10px;
        align-items: center;
    }
.complejo{
    width: 110%;
    height: 300px;
}
.textoinicio{
    width: 100%;
    height: 290px;
    font-size: 20px;
}
    .cards-flexmain {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        align-items: center;
    }

    .custom-bg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $color-text-principal;
        background-color: $backgroud-principal;
        border-radius: 10%;
        justify-items: center;
        place-items: center;
        align-items: center;
        width: 80%;
        height: auto;
        font-weight: bold;
        padding: 20px;
        margin: 15px 25px;
        font-size: 12px;
    }

    .cardsfutbol5 {
        align-self: center;
        text-align: center;
        color: $color-text-principal;
        background-color: $backgroud-principal;
        border-radius: 10%;
        font-family: sans-serif;
        width: 200px;
        height: auto;
        padding-top: 15px;
    }
}