@media (max-width: 1024px){
    .menu {
        font-size: 19px;
        display: flex;
        flex-direction: row;
        padding: 10px 3px;
        justify-content: center;
        align-items: center;
    }
}